
.a{
	margin-left: 10px;
}
.b{
	margin-left: 40px;
}
.z{
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 10px
}
.c{
	margin-left: 80px;
}
.d{
	margin-left: 100px;
}
.e{
	margin-left: 120px;
}
h100{
	color: #DB5254;
}
h101{
	color: #5965E5;
}
input[type="text"],
input[type="password"],
textarea,
textarea.form-control {
	height: 50px;

    vertical-align: middle;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #5F5D5D;
    -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {

	line-height: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }


button.btn {
	height: 50px;
    margin: 0;
	width:300px;
    vertical-align: middle;
    background: #aaaaaa;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
     -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

body {

  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #ffffff;
  font-size: 11px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-size: 15px;
   color: #ffffff;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  margin-left:10px;
  color:#606060;
}

h2 {
  padding-top: 20px;
  font-size:15px;
}
h11{
	font-size: 20px;
}
h20 {
  font-size:10px;
	text-align: left;
}

p {
  font-size:15px;
  overflow: hidden;
  padding: 10px 0;
  margin-left:10px;
  text-align: justify;
}

.content-section {
    padding-top: 100px;

}
.footer-section {
	padding-top: 20px;
}

.verticalLine {
    border-right: 2px solid #aaa;
}

.konten {
   margin-right:10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
